<div class="middle_desc">

  <div class="middle_desc_left">

        <h2>Editing notification</h2>

        <%= render 'form' %>

        <%= link_to 'Show', @notification, :class=>"btn" %> |
        <%= link_to 'Back', notifications_path,:class=>"btn" %>

        </div>

</div>
