<div class="middle_desc">

  <div class="middle_desc_left">

        <h2>New notification</h2>

        <%= render 'form' %>

        <%= link_to 'Back', notifications_path, :class=>"btn" %>

  </div>

</div>