


<div class="middle_desc">

  <div class="middle_desc_full">

    <h2>About @ SAIMEDHA</h2>
    <p>  SAIMEDHA  academy was established in year 1994 at Andhra Pradesh.  It was

      then the first institute to provide training to engineers & diploma holders for various

      competitive and recruitment exams like GATE, IES, PSU’s, ECET etc. </br></br>

      From then it has continuously grown. SAIMEDHA provides quality education.

      Saimedha has produced top rankers in GATE, IES, ECET & PSU’s since its

      establishment.   </br></br>

      In Gate examination saimedha students have secured top ranks and almost all

      students have been able to clear gate exams. </br></br>

      In engineering services examination some of the students have been selected.    </br></br>

      In PSU’s most of students have secured selecting during their admission in

      saimedha.              </br></br>

      Regular, Weekend class room programme       </br>

      • Electronics & communication engineering    </br>

      • Electrical & electronics engineering   </br>

      • Computer science & IT engineering   </br></br>

      The main feature of saimedha is that all the subjects are taught from basic level to

      advance level.  Class room teaching includes thorough coverage of technical part and

      non-technical part including GS & ENGLISH.     </br></br>

      SAIMEDHA provides concessions for GATE students based on their academic

      record.                                   </br></br>

      SAIMEDHA is always at students service providing necessary & useful information

      for various competitive examinations.</p>

  </div>
