


<div class="middle_desc">

  <div class="middle_desc_full">

    <h2>About Directors</h2>
    <p>
      <b>Mr. G.Ramana & Mr. R.Jaya Chandra</b> are Directors of SAIMEDHA Educational

      society.  Both of them graduated from S.V. University, Tirupati.  They holds Masters

      Degree(M.Tech) from JNTU, Hyderabad. With the interest in teaching profession they

      established Saimedha Engineering Academy in the year 1994 at Tirupati with students demand

      they subsequently  started coaching centres in Hyderabad, Vijayawada,

      Banglore and  in Guntur. </br> </br>

      They want to do more service to the students & guide them in a right path and that is

      the reason why they resigned even from government jobs.  They are capable of handling classes

      about 80% of the syllabus for EEE and ECE. </br> </br>

      Both have near about 20 years of broad teaching experience in IES,GATE &

      PSU’s(BHEL,BSNL,NTPC,DRDO,IOCIL,HAL etc). Both

      of them gave career guidance seminars in 300 above engineering colleges i.e. 30,000

      above students.  Guided thousands of engineering graduates & diploma holders for

      various competitive exams.  Both are well known for they smart methods & easy

      techniques of solving questions.  </br></br>

      Under their guidance many students have been placed in different public sector

      units like BHEL, NTPC, HAL, BSNL, DRDO etc.  Many students have secured ALL

      INDIA Rank 1

      We realize great happiness that SAIMEDHA provides quality education

      which helps generating large number of qualified and capable officers for various

      Governments and public departments. 1st in GATE, Rank 7th in IES and public sector examinations.</br></br>
      We realize great happiness that SAIMEDHA provides quality education

      which helps generating large number of qualified and capable officers for various

      Governments and public departments.
    </p>

  </div>
