

<div class="middle_desc">

  <div class="middle_desc_full">
<h2>About IES  </h2>
<div class="abouties"> 
<p><b>Indian Engineering Services Examination</b>, UPSC (Union Public Service commission) conducts Engineering Services Examination for recruitment in various engineering services/posts in various Government Departments. The recruitment is done for three categories: Civil Engineering, Mechanical Engineering, Electrical Engineering and Electronics & Telecommunication Engineering. These jobs are considered to be highly reputed therefore a large number of candidates appear for CMSE exam but there are only a limited vacancies (nearly 500-600) so the selection is quite tough. The selected candidates get a handsome pay in addition to several other incentives of Government jobs and job security.</p>
<p>The selection through Engineering Services Examination is through two stages: Written Tests & Personality Test. Only the candidates who qualify the written tests are called for personality test. The written tests are of 1000 marks while personality test is of 200 marks.</p>

<br/><br/><br/><h4>Selections are made for the following services and posts:</h4>
<br/>
<h4>Civil Engineering:</h4>
    <br/>
Indian Railway Service of Engineers.  <br/>
Indian Railway Stores Service Civil Engineering Posts). <br/>
Central Engineering Service.     <br/>
Indian Defense Service of Engineers (Civil Engineering Posts).<br/>
Central Water Engineering (Gr. 'A') Service (Civil Engineering Posts). <br/>
Central Engineering Service (Roads) Group-A (Civil Engineering posts). <br/>
Assistant Executive Engineer (Civil) in the Border Roads Engineering Service, (Gr. 'A').<br/>
Assistant Executive Engineer (QS&C) in Military Engineering Service, Gr.'A'. <br/>
    <br/>
<h4>Mechanical Engineering:</h4>    <br/>
Indian Railway Service of Mechnical Engineers.  <br/>
Indian Railway Stores Service (Mechanical Engineering Posts).   <br/>
Central Water Engineering (Gr. 'A') Service (Mechanical Engineering Posts).<br/>
Central Power Engineering Service (Mechanical Engineering Posts).<br/>
Indian Ordinance Factories Service. <br/>
Indian Naval Armament Service (Mechanical Engineering Posts).<br/>
Assistant Executive Engineer Group 'A' (Mechanical Engineering Posts) in the Corps of EME, Ministry of Defence. <br/>
Assistant Naval Store officer Grade I (Mechanical Engineering Posts) in Indian Navy.<br/>
Central Electrical & Mechanical Engineering Service (Mechanical Engineering Posts)<br/>
Assistant Executive Engineer (Electrical & Mechanical) (Mechanical Engineering Posts) in Boarder Roads Engineering Service, Group 'A'<br/>
Drilling Engineer (Junior) (Grade A) in the Geological Survey of India.<br/>
Indian Inspection Service, Gr.'A' (Mechanical Engineering Posts).<br/>
Indian Supply Service, Gr.'A' (Mechanical Engineering Posts). <br/>
Indian Defense Service of Engineers (Mechanical Engineering Posts).<br/>
Central Engineering Service (Roads), Gr.'A' (Mech. Engineering Posts)<br/><br/>
<h4>Electrical Engineering:</h4>  <br/>
Indian Railway Service of Electrical Engineers.  <br/>
Indian Railway Stores Service (Electrical Engineering Posts). <br/>
Central Electrical & Mechanical Engineering Service (Electrical Engineering Posts).<br/>
Indian Naval Armament Service (Electrical Engineering Posts). <br/>
Central Power Engineering Service (Electrical Engineering Posts). <br/>
Indian Defense Service of Engineers (Electrical Engineering Posts). <br/>
Assistant Executive Engineer Group A (Electrical Engineering Posts) in the Corps of E.M.E, Ministry of Defence.<br/>
Assistant Naval Store officer Grade I (Electrical Engineering Posts) in Indian Navy. <br/>
Indian Inspection Service, Gr.'A' (Electrical Engineering Posts). <br/>
Indian Supply Service, Gr.'A' (Electrical Engineering Posts).<br/> <br/>
<h4>Electronics And Telecommunication Engineering:</h4> <br/>
Indian Railway Service of Signal Engineers.  <br/>
Indian Railway Stores Service (Tele-communication/Electronics Engineering Posts).<br/>
Indian Ordnance Factories Service (Engineering Branch) (Electronics Engineering Posts). <br/>
Indian Naval Armament Service (Electronics Engineering Posts). <br/>
Assistant Executive Engineer Group 'A' (Electronics & Telecommunication Engineering Posts) in the Corps of E.M.E., Ministry of Defence.<br/>
Engineer (GCS-Gr."A") in Wireless Planning and Coordination Wing/Monitoring Organisation; M/o Communication and Information Technology (D/oTelecommunication)<br/>
Assistant Naval Stores officer Grade I (Electronics & Telecom Engineering Posts) in Indian Navy.   <br/>
Indian Inspection Service, Gr.'A' (Electronics & Telecom Engineering Posts).   <br/>
Indian Supply Service, Gr.'A' (Electronics & Telecom Engineering Posts).<br/> <br/>
<h4>Eligibility Criteria:</h4>  <br/>
Candidates applying for Engineering Sevices Exam should have an engineering degree from a recognized institute or be in their final year. Also candidates with MSc. Degree or equivalent in Wireless Communications, Electronics, Radio Physics or Radio Engineering will be eligible for certain posts only. A candidate should be more than 21 years and less than 30 years of age as on 1st August, 2010. There are relaxations in age limit for various reserved categories. A candidate should be medically and physically fit according to the specified requirements.<br/>
Availability of Application Forms:<br/>
All UPSC Exams have a common form where a candidate has to choose the exam he/she has applied for. UPSC forms are available in various designated post offices throughout the country. The fee for examination is paid through Central Recruitment Fee stamp.<br/><br/>
<h4>Important Dates (Tentative):</h4><br/>
Released soon..<br/><br/>

<h4>Details of Examination:</h4> <br/>
The examination is conducted in two parts: Written Tests & Personality Test. Written Tests are of 1000 marks total consisting of 5 papers of 200 marks each. First paper is General Ability Paper consisting of objective type questions from General English and General Studies which includes knowledge of current events, Indian History and Geography. Rest 4 papers are specific to the relevant engineering discipline. Of these first two papers will be objective type and the rest two papers will be subjective type.<br/>
For objective type questions each question will have 4 options and there is a negative marking of 1/3rd marks allotted to the question for an incorrect answer.<br/>
Personality Test consists of an interview to judge the candidate's knowledge in the relevant engineering field and General Knowledge and other skills and requirements like the candidate's capacity for leadership, initiative and intellectual curiosity, tact and other social qualities, mental and physical energy, powers of practical application and integrity of character.<br/>
 </div>
    </div>
</div>