


<div class="middle_desc">

  <div class="middle_desc_full">

<h2>Features @ SAIMEDHA</h2>
                <p>
                  • Saimedha is the only institute which provides quality education.  <br/>

                  • Only technical institute running with two expert directors with professional qualification having more than 20 years Exp in  teaching field. <br/>

                  • Saimedha provides excellent result oriented coaching for GATE, IES & PSU’s by experienced faculty.<br/>

                  • Limited students in a batch to concentrate on every student in the class.<br/>

                  • Some of the faculty in Saimedha having more than 40 years experience in teaching field.<br/>

                  • Young & dynamic faculty members from IIT’s & NIT’s. <br/>

                  • Students gets results immediately after finishing of their online exam. <br/>

                  • The study material of Saimedha are modified regularly.<br/>

                  • Saimedha conducts free mock GATE exams which makes students practice. <br/>

                  • Every weekend Saimedha conducts one practice online exams and topic wise exams for GATE students<br/>

                  • A team of highly dedicated & professionals from various engineering colleges

                  are engaged as the faculty in Saimedha. <br/>

                  • Saimedha enhances your technical & Non-technical knowledge in GATE, IES & PSU’s. <br/>
                  • Has Well Experienced Faculty.<br/>

                  • Large Classrooms with comfortable seating facility.<br/>

                  • ProvidesComprehensive Study Material.<br/>

                  • Directors conducts career guidance classes.<br/>

                  • Directors concentrate on each and every student. <br/>

                  • All important information is kept in the website for the benefit of students.<br/>

                  • The study material of saimedha are modified regularly.  <br/>

                  • Limited students in a batch helps you to clear your doubts.<br/>


                </p>

           </div>
