
<%#<h2 class='header-side'>Sai Medha	</h2>%>

  <div class="list-location">


 <ul>
   <li><%= link_to 'Hyderabad', location_home_index_path(:city=>"hyderabad") %></li>
   <li><%= link_to 'Tirupathi', location_home_index_path(:city=>"tirupathi") %></li>
   <li><%= link_to 'Vijayawada', location_home_index_path(:city=>"vijayawada") %></li>

</ul>

</div>

<div class="contact-address">
  <% if @city=="hyderabad"%>
      <h2>Ameerpet Branch:</h2>
      <P>Flat No : 501</P>
      <p>5Th Floor</p>
      <p>Mythrivanam Complex</p>
      <p>Ameerpet - 500 038</p>
      <p> Contact:</p>
      <p>Mobile: 9492737263</p>
      <p>Landline: 0877-2220213</p>
       <br/><br/>
      <h2>Koti Branch:</h2>
      <p>3rd Floor</p>
      <p>Narayan Naik Comples, Beside VHP</p>
      <p>Above Rajkamal-Neelkamal</p>
       <p>Contact:</p>
      <p>Mobile: 9246212138</p>
   <% elsif @city == "tirupathi" %>
      <h2>Tirupathi Branch:</h2>
      <P>18-1-291/1</P>
      <p>Beside TTD Administrative Building</p>
      <p>Bhavani Nagar</p>
      <p>Tirupathi - 517 101</p>
      <p> Contact:</p>
      <p>Mobile: 9494941234</p>
      <p>Landline: 040-23731234</p>
      <br/><br/>
   <% else %>
      <h2>Vijayawada Branch:</h2>
      <P>D No : 59-8-13</P>
      <p>Swayamsiddha</p>
      <p>innamaneni Polyclinic Road</p>
      <p>Gayathri Nagar</p>
      <p>Vijayawada - 8</p>
      <p> Contact:</p>
      <p>Mobile: 9493737264</p>
      <p>Landline: 0866-2493316</p>
      <br/><br/>
   <% end %>

</div>
