
<h2>Programmes Offered @ Sai Medha Academy</h2>
<br/><br/><br/>
<h2>Classroom Coaching</h2>


 <br/> <br/>
            
  <% @courses.each do |c|%>

  #<%= c.name %>- 2013
 
	<% @bs = c.branches %>
	(
	<% @bs.each do |b| %>
		<%= b.name%>
	<% end %>)
  <br/><br/>
  <% end %>

 
<h2>Online Coaching</h2>
