<div class="main_right_nav">
  <div class="notifications_sec">
    <h5>Schedules</h5>
      <marquee bgcolor="#FFFFFF" onMouseOver="this.scrollAmount=0" onMouseOut="this.scrollAmount=2" scrollamount="1" direction="up" loop="true">
        <% if @day_notifications %>
            <% @day_notifications.each do |notification| %>
                <span class="notification_user_link right_link">
                    <%= link_to notification.title, notification %>
                </span>
            <% end %>
        <% end %>
      </marquee>
  </div>
  <div class="notifications_sec">
    <h5>Notifications</h5>
      <marquee bgcolor="#FFFFFF" onMouseOver="this.scrollAmount=0" onMouseOut="this.scrollAmount=2" scrollamount="1 " direction="up" loop="true">
        <% if @long_notifications %>
            <% @long_notifications.each do |notification| %>
                <span class="notification_user_link right_link">
                    <%= link_to notification.title, notification %>
                </span>
            <% end %>
        <% end %>
      </marquee>
    </div>
</div>